

<p>This will teach you what cards to hold when confronted with these poker hands.
    Click on each scenario to see a poker hand and click the appropriate hold hand to see if you made the correct choice.</p>
<h2 class="text-center"><span class="glyphicon glyphicon-king"></span></h2>
<h5 class="text-center">Basic Hold Scenarios</h5>

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12"  ng-repeat="basicScenario in basicScenarios">
        <div class="panel panel-default" id="panPokerRanks">
            <div class="panel-heading" tabindex="0" data-toggle="collapse" data-parent="#panPokerRanks" data-target="#{{basicScenario.id}}_p" aria-expanded="false">
                <span class="glyphicon glyphicon-ok pull-right scenario-green {{basicScenario.rightCss}}"></span>
                <span class="glyphicon glyphicon-remove pull-right red {{basicScenario.wrongCss}}"></span>
                <h3 class="text-center">
                    <span class="scenario-blue">{{basicScenario.blueHeader}}</span>
                    <span class="scenario-white">vs</span>
                    <span class="scenario-green">{{basicScenario.greenHeader}}</span>
                </h3>
                <h5 class="text-center">{{basicScenario.description}}</h5>
            </div>
            <div id="{{basicScenario.id}}_p" class="collapse scenario-spacer panel-body">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" ng-repeat="card in basicScenario.pokerHand">
                        <div class="poker-card">
                            <div class="card-front {{card.color}} ">
                                <div class="card-rank">{{card.rank}}</div>
                                <div class="small-suit">{{card.suit}}</div>
                                <div class="large-suit">{{card.suit}}</div>
                            </div>
                        </div>
                        <h5 class="{{basicScenario.hiddenCss}} {{basicScenario.solutionCss}} scenario-hold text-center text-uppercase">{{card.hold}}</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-11 col-md-11 col-sm-11">
                        <img src="{{basicScenario.imageURL}}" alt="{{basicScenario.imageText}}" class="scenario-image">
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn btn-lg btn-primary" ng-click="onBlueGuessClick(basicScenario)">{{basicScenario.blueHeader}}</button>
                    <button class="btn btn-lg btn-success" ng-click="onGreenGuessClick(basicScenario)">{{basicScenario.greenHeader}}</button>
                </div>
                <button class="btn btn-lg btn-primary center-block hidden" ng-click="onSolutionClick(basicScenario)">Show Hold Cards</button>
                <div id="{{basicScenario.id}}_sol2" class="{{basicScenario.hiddenCss}}">
                    <br>
                    <div class="scenario-solution-header">{{basicScenario.rightWrong}} The correct hold is <span class="{{basicScenario.solutionCss}}">{{basicScenario.solutionTitle}}</span></div>
                    <h5>{{basicScenario.solutionText}}</h5>
                </div>
                <br>
                <button class="btn btn-sm center-block" data-toggle="collapse" data-target="#{{basicScenario.id}}_p">Close</button>
            </div>

        </div>

    </div>
</div>
